body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  hsl(212, 45%, 89%);
}



.div1{
  background-color: hsl(0, 0%, 100%);
  height: 540px;
  width: 350px;
  border-radius: 10px;
}
.im{
    height: 300px;
    width:300px;
    margin-left: 25px;
    margin-top: 15px;
    border-radius: 10px;
}
.p1{
    text-align: center;
    font-size: 25px;
}
.p2{
    text-align: center;
    color:hsl(216, 15%, 48%);
}